<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = {
        "id": <%= current_user.id %>,
        "username": '<%= current_user.username %>'
    }
  </script>
<% end %>
<head>
    <meta charset="utf-8" />
</head>

<main id="root"></main>