.chapter-show-div {
    margin: auto;
    max-width: 40%;
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        text-align: center;
        font-weight: 300px;
    }
    hr {
        border: 1px, grey;
    }
    div {
        height: 50px;
    }
}

.chapter-show-text {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    white-space: pre-wrap;
    word-break: normal;
    overflow-wrap: break-word;
}

