.navbar {
    height: 54px;
    width: calc(100vw - 300px);
    padding: 0 150px;
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color:#ffffff;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
    z-index: 10;
}

.nav-left a {
    padding: 0 10px;
}

.nav-left a:first-child {
    color: orange;
}

// .nav-middle {
//      margin-left: auto;
//      margin-right: auto;
// }

.nav-right {
    // position: relative;
    // margin-left: auto;
}

.nav-dropdowns {
    display: flex;
    // position: absolute;
    flex-direction: row;
    ul {
        padding: 0 20px;
        li {
            font-weight: normal;
            font-size: 14px;
            border-style: solid;
            border-width: 2px;
            border-color: black;
        }
    }
}

.nav-dropdown-write {
    width: 60px;
    position: relative;
    div {
    display: none;
    }
}

.nav-dropdown-profile {
    position: relative;
    div {
    display: none;
    }
}

// .show li {
//     display: inline-block;
// }

.show div {
    display: inline-block;
}

.nav-dropdown-profile-content {
    position: absolute;
    left: 20px;
    top: 30px;
}

.nav-dropdown-write-content {
    position: absolute;
    left: 20px;
    top: 30px;
}

.navbar-filler {
    height: 54px;
}