.session-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url('https://static.wattpad.com/img/landing/topRightPortal.svg');
    background-position: right top;
    background-repeat: no-repeat;
}

.session-form {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    padding: 50px;
    padding-top: 30px;
    border-style: outset;
    border-width: 2px;
    border-color: lightgrey;
    box-shadow: 1px 1px 1px 1px lightgrey;
}

.session-header {
    text-align: center;
}

label span {
    display: block;
    margin: 10px;
}

.session-input {
    width: 90%;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
}

.session-submit {
    background-color: black;
    color: white;
    border-radius: 25px;
    // padding-top: 10px;
    // padding-bottom: 10px;
    // padding-left: 40px;
    // padding-right: 40px;
    width: 300px;
    height: 50px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}

.session-submit:hover {
    background-color: grey;
}

.session-image {
    width: 40%;
    height: auto;
    margin-left: 150px;
}