.splash-header {
    font-family: Helvetica;
    display: flex;
    flex-direction: row;
    background-image: url('https://static.wattpad.com/img/landing/topRightPortal.svg');
    background-position: right top;
    background-repeat: no-repeat;
    height: calc(100vh - 54px);
    padding-top: 100px;
}

.splash-header-text {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 80px;
    padding-top: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    background-image: url('https://static.wattpad.com/img/landing/bottomLeftPortal.svg');
    background-position: left bottom;
    background-repeat: no-repeat;
}

.splash-header-intro {
    color: #ff6112;
    font-size: 50px;
    font-family: "Helvetica";
    margin-bottom: 0px;
}

.splash-text {
    color: gray;
    font-family: "Helvetica"
}

.splash-image {
    // max-width: 35vw;
    // height: 22.138613861386137vh;
    width: 600px;
    height: 400px;
    padding-right: 200px;
    margin-top: 120px;
}

.splash-login-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.splash-login-button {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 20px;
    background-color: #ff6112;
    color: white;
    border-radius: 5px;
}