.story-index {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    width: 900px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0 0 10px 1px lightgrey;
}

.story-index-title {
    position: absolute;
    font-size: 36px;
    font-family: helvetica;
    font-weight: bold;
    top: -60px;
    left: 10px;
}

.story-index-item {
    height: 300px;
    width: 400px;
    padding: 20px 20px;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 2;
    p {
        color: gray;
    }
}

.story-index-item-title {
    font-size: 24px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.story-index-item-author {
    color: lightgray;
}

.story-index-item-votes {
    background-color: darkorange;
    color: white;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;
}

.story-index-item-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}